<!-- wp:template-part {"slug":"header","theme":"my-fse-theme","tagName":"header"} /-->

<!-- wp:group {"className":"category-layout"} -->
<div class="category-layout">
  <!-- wp:heading {"level":1} -->Categorie: [[Page Title]]<!-- /wp:heading -->
  
  <!-- wp:paragraph -->Hieronder vind je relevante behandelingen.<!-- /wp:paragraph -->

  <!-- wp:pattern {"slug":"my-fse-theme/query-loop-white"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"my-fse-theme","tagName":"footer"} /-->