<!-- wp:template-part {"slug":"header","theme":"my-fse-theme","tagName":"header"} /-->

<!-- wp:group {"className":"post-layout"} -->
<div class="post-layout">
  <!-- wp:post-featured-image /-->

  <!-- wp:post-title /-->

  <!-- wp:post-content /-->

  <!-- wp:group {"className":"post-buttons"} -->
  <div class="post-buttons">
    <!-- wp:buttons -->
    <div class="wp-block-buttons">
      <div class="wp-block-button"><a class="wp-block-button__link" href="/afspraak/">Afspraak maken</a></div>
    </div>
    <!-- /wp:buttons -->
  </div>
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"my-fse-theme","tagName":"footer"} /-->