<!-- wp:template-part {"slug":"header","theme":"my-fse-theme","tagName":"header"} /-->

<!-- wp:group {"className":"post-layout","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->

  <!-- wp:post-content {"className":"post-text"} /-->

  <!-- wp:group {"className":"post-image"} -->
    <!-- wp:post-featured-image /-->
  <!-- /wp:group -->

  <!-- wp:group {"className":"related-services"} -->
   <!-- wp:pattern {"slug":"my-fse-theme/query-loop-buttons-v2"} /-->
  <!-- /wp:group -->

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"my-fse-theme","tagName":"footer"} /-->